/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1893 {
    padding: var(--sectionPadding);
    background-color: #F6EDDF;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1893 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #steps-1893 .cs-image-group {
    font-size: min(2.24vw, 0.9rem);
    width: 30.125em;
    height: 38.5em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #steps-1893 .cs-picture {
    width: 25.8125em;
    height: 37.0625em;
    margin-top: 1.5em;
    box-sizing: border-box;
    background-color: #DAB692;
    overflow: hidden;
    border: 8px solid #DAB692;
    border-radius: 16.25rem;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #steps-1893 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
  #steps-1893 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #steps-1893 .cs-brown {
    width: 10.3125em;
    height: auto;
    top: 1.25em;
    left: 1.5em;
    z-index: -2;
    transform: rotate(140deg);
  }
  #steps-1893 .cs-peach {
    width: 4.3125em;
    height: auto;
    top: 1em;
    left: 8.75em;
    transform: rotate(-40deg);
  }
  #steps-1893 .cs-leaf {
    width: 14em;
    height: auto;
    bottom: 0em;
    right: 1em;
    z-index: 1;
  }
  #steps-1893 .cs-dots {
    width: 16.3125em;
    height: auto;
    left: 1em;
    bottom: 1em;
    z-index: -2;
  }
  #steps-1893 .cs-lines {
    width: 15.375em;
    right: 0;
    bottom: 0em;
  }
  #steps-1893 .cs-wrapper {
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1893 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-1893 .cs-topper {
    color: var(--secondary);
  }
  #steps-1893 .cs-title {
    margin: 0;
  }
  #steps-1893 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    align-items: stretch;
    grid-auto-flow: row;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
  }
  #steps-1893 .cs-item {
    list-style: none;
    padding-bottom: 2rem;
    border-bottom: #DED1BD 1px solid;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 2vw, 1.5rem);
    position: relative;
  }
  #steps-1893 .cs-item:last-of-type {
    border-bottom: none;
  }
  #steps-1893 .cs-number {
    /* 49px - 72px */
    font-size: clamp(3.0625rem, 6vw, 4.5rem);
    font-weight: 900;
    line-height: 1.1875em;
    color: var(--primary);
    opacity: 0.2;
    display: block;
  }
  #steps-1893 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.125em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1893 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1893 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
    /* 48px - 60px */
    gap: clamp(3rem, 6vw, 3.75rem);
  }
  #steps-1893 .cs-card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1893 .cs-item {
    flex-direction: row;
  }
  #steps-1893 .cs-image-group {
    font-size: min(1.5vw, 1rem);
    height: auto;
    min-height: 38.5em;
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #steps-1893 .cs-picture {
    height: 96.266234%;
  }
}
                                
